:root {
    --accent: #00ffac90;
    --glow: rgba(0, 255, 172, 0.05);
    /* --glow: #00ffac10; */
}

body {
    font-family: Arial;
}

#cclm-title {
    font-size: 40px;
    color: #333;
    margin: 50px 10% 20px 10%;
}

body, #colorLabelDiv, #colorLabel {
    background-color: #1b1b1b;
}

#colorLabelDiv {
    position: sticky;
    position: -webkit-sticky;
    width: 85vw;
    padding: 20px 0;
    border-bottom: solid 1px #222;
}

.initTop {
    top: 0;
}

#colorLabel {
    color: #ccc;
    font-size: 20px;
    margin: 10px 0 20px 0;
    padding: 15px;
    border-style: solid;
    border-width: 10px 20px;
    border-color: #292929;
    border-radius: 5px;
}

#userInput {
    font-size: 18px;
    height: 200px;
    line-height: 1.6;
    margin-top: 50px;
    padding: 20px;
    clear: left;
    border-radius: 10px;
}

#userInput, button {
    color: #ccc;
    background-color: #222;
    border-color: #333;
    border-style: solid;
    border-width: 1px;
    outline: none;
}

button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}

.box {
    --size: 120px;
    width: var(--size);
    height: var(--size);
    border-radius: 5px;
    margin: 5px;
    float: left;
    border-radius: 5px;
}

#upperCase {
    font-weight: 900;
}

.btn-enabled {
    color: #ccc;
    background-color: #222;
    border-color: #222;
}

.btn-disabled {
    color: #666;
    background-color: #1b1b1b;
    border-color: #1b1b1b;
}

.btn-highlight {
    border-color: var(--accent);
}

#btnSHARE:hover, #btnPALETTE:hover, #btnTOP:hover, #btnEXPORT:hover, #btnFTR:hover, .material-icons:hover, #btnSELECT:hover, #btnCLEAR:hover, #btnSUBMIT:hover {
    color: var(--accent);
    border-color: var(--accent);
}

/* IF BTN IS NOT DISABLED */
#btnSORT:hover, #upperCase:hover {
    color: var(--accent);
    border-color: var(--accent);
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #444;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

::-webkit-resizer {
    background: #333;
}

::-webkit-scrollbar-corner {
    background: #333;
}

@media screen and (min-width: 701px) {
    body {
        margin-bottom: 150px;
    }

    #colorLabel {
        width: 50vw;
    }

    .addTop {
        top: 0;
    }

    #userInput {
        width: 60vw;
    }

    #btnFTR {
        width: 80px;
    }

    .sticky-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0 50px;
    }

    .not-sticky {
        margin-top: 100px;
        border-radius: 10px;
        padding: 0 20px;
    }

    .footer {
        background-color: #111;
        color: white;
        overflow: hidden;
    }

    .footer button {
        font-size: 16px;
        margin: 10px 50px 10px 0px;
        float: left;
    }

    .footer-right {
        float: right;
    }

    .footer a {
        color: white;
        text-decoration: none;
    }

    #btnTOP {
        width: 80px;
    }
}

.sidebar {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}

#sideBorder {
    height: 100vh;
    width: 20px;
    position: fixed;
    z-index: 0;
    top: 0;
    background-color: #111;
    /* box-shadow: 10px 2px 15px var(--glow); */
}

.sideborder_1 {
    left: 0px;
}

.sideborder_2 {
    left: 110px;
}

#circleTab {
    position: fixed;
    --size: 50px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    font-size: 16px;
    background-color: #111;
    color: #f1f1f2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 10px;
    top: 40vh;
    z-index: 0;
    cursor: pointer;
}

.circletab_1 {
    left: -20px;
}

.circletab_2 {
    left: 90px;
}

#main {
    font-size: 20px;
    transition: margin-left .5s;
    margin: 0px 10%;
}

.hide {
    display: none;
}

.btn {
    font-size: 24px;
    color: #818181;
    background: #222;
    padding: 8px 16px;
    margin: 20px;
    border: solid 1px #333;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    transition: 0.3s;
    width: 80px;
}

.btn:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding: 8px;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 10px 50px;
}

.openbtn:hover {
    background-color: #444;
}

.sidebar-enabled {
    width: 120px;
}

.sidebar-disabled {
    display: none;
}

.margin-toggle {
    margin: 20px 15%;
}

.bodyMargin {
    margin: 20px 15%;
}

@media screen and (min-width: 701px) {
    .sidebar .closebtn {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    #cclm-title {
        margin: 50px 15% 20px 15%;
    }

    #colorLabel {
        width: 68vw;
    }

    #userInput {
        margin-right: 0;
        width: 70vw;
    }

    .box {
        --size: 72px;
        width: var(--size);
        height: var(--size);
    }

    #btnFTR {
        display: none;
    }

    button {
        margin: 50px 20px 20px 0;
    }

    #main, .footer {
        margin: 0px 10%;
    }

    .addTop {
        top: 70px;
    }

    .initTop {
        top: 0;
    }

    .sidebar {
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
        height: auto;
        position: relative;
        z-index: 9;
    }

    .sidebar .btn {
        float: left;
    }

    .sidebar-enabled {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }

    .margin-toggle {
        margin: 20px 10%;
    }

    .bodyMargin {
        margin: 0;
    }

    #sideBorder {
        height: 20px;
        width: 100vw;
        z-index: 9;
    }

    .sideborder_1 {
        left: 0px;
    }

    .sideborder_2 {
        left: 0px;
    }

    #circleTab {
        padding: 10px;
        top: -15px;
    }

    .circletab_1 {
        left: 0px;
    }

    .circletab_2 {
        left: 90px;
    }
}

@media screen and (min-width: 600px) {
    button {
        margin: 50px 50px 20px 0;
    }
}
