:root {
    --accent: #00ffac90;
    --glow: rgba(0, 255, 172, 0.05);
}

body {
    font-family: Arial;
}

#cclm-title {
    font-size: 40px;
    color: #333;
    margin: 50px 10%;
}

#colorLabel,
#colorLabelDiv,
body {
    background-color: #1b1b1b;
}

#colorLabelDiv {
    position: sticky;
    position: -webkit-sticky;
    width: 85vw;
    padding: 20px 0;
    border-bottom: solid 1px #222;
}

#colorLabel {
    color: #ccc;
    font-size: 20px;
    margin: 10px 0 20px;
    padding: 15px;
    border-style: solid;
    border-width: 10px 20px;
    border-color: #292929;
    border-radius: 5px;
}

#userInput {
    font-size: 18px;
    height: 200px;
    line-height: 1.6;
    margin-top: 50px;
    padding: 20px;
    clear: left;
    border-radius: 10px;
}

#userInput,
button {
    color: #ccc;
    background-color: #222;
    border-color: #333;
    border-style: solid;
    border-width: 1px;
    outline: none;
}

button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
}

.box {
    --sizew: 240px;
    --sizeh: 150px;
    width: var(--sizew);
    height: var(--sizeh);
    border-radius: 5px;
    margin: 10px;
    float: left;
    border-radius: 5px;
}

#upperCase {
    font-weight: 900;
}

.btn-enabled {
    color: #ccc;
    background-color: #222;
    border-color: #222;
}

.btn-disabled {
    color: #666;
    background-color: #1b1b1b;
    border-color: #1b1b1b;
}

.btn-highlight {
    border-color: var(--accent);
}

#btnCLEAR:hover,
#btnEXPORT:hover,
#btnFTR:hover,
#btnPALETTE:hover,
#btnSELECT:hover,
#btnSHARE:hover,
#btnSUBMIT:hover,
#btnTOP:hover,
.material-icons:hover {
    color: var(--accent);
    border-color: var(--accent);
}
/* IF BTN IS NOT DISABLED */
#btnSORT:hover,
#upperCase:hover {
    color: var(--accent);
    border-color: var(--accent);
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #444;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}

::-webkit-resizer {
    background: #333;
}

::-webkit-scrollbar-corner {
    background: #333;
}

#main {
    font-size: 20px;
    transition: margin-left 0.5s;
    margin: 0 5% 0 10%;
}

.hide {
    display: none;
}

.btn {
    font-size: 24px;
    color: #818181;
    background: #222;
    padding: 8px 16px;
    margin: 20px;
    border: solid 1px #333;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    transition: 0.3s;
    width: 80px;
}

.btn:hover {
    color: #f1f1f1;
}
@media screen and (min-width: 701px) {
    body {
        margin-bottom: 150px;
    }

    #colorLabel {
        width: 50vw;
    }

    #userInput {
        width: 60vw;
    }

    #btnFTR {
        width: 80px;
    }

    .sticky-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0 50px;
    }

    .not-sticky {
        margin-top: 100px;
        border-radius: 10px;
        padding: 0 20px;
    }

    .footer {
        background-color: #111;
        color: white;
        overflow: hidden;
    }

    .footer button {
        font-size: 16px;
        margin: 10px 50px 10px 0;
        float: left;
    }

    .footer-right {
        float: right;
    }

    .footer a {
        color: white;
        text-decoration: none;
    }

    #btnTOP {
        width: 80px;
    }
}
@media screen and (max-width: 700px) {
    #cclm-title {
        margin: 50px 15% 20px;
    }

    #colorLabel {
        width: 68vw;
    }

    #userInput {
        margin-right: 0;
        width: 70vw;
    }

    #btnFTR {
        display: none;
    }

    button {
        margin: 50px 20px 20px 0;
    }

    #main,
    .footer {
        margin: 0 5% 0 10%;
    }
}
@media screen and (min-width: 600px) {
    button {
        margin: 50px 50px 20px 0;
    }
}

.cinfo {
    font-size: 22px;
    font-family: Arial;
    /* text-transform: uppercase;*/
    text-align: center;
    background: #05050590;
    color: white;
    padding: 10px 0;
    position: relative;
    top: calc(150px - 65px);
}

[data-hide] {
    display: none !important;
}

[data-uppercase] {
    text-transform: uppercase;
}

[toggle-mode] {
    color: #ccc;
    background-color: #222;
}

[highlight],
[mode-active] {
    border-color: var(--accent);
}
@media screen and (min-width: 701px) {
    .sticky-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0 50px;
    }

    .not-sticky {
        margin-top: 100px;
        border-radius: 10px;
        padding: 0 20px;
    }

    [sticky-toggle] {
        margin-top: 100px;
        border-radius: 10px;
        padding: 0 20px;
    }

    [sticky-active] {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        padding: 0 50px;
    }
}
